# Backend Server URL (e.g. https://api.yourdomain.com or http://localhost:5000)
VITE_BACKEND_URL=http://localhost:5000

VITE_SUPABASE_URL=https://ythdfltgdvfjllgyutnz.supabase.co
VITE_SUPABASE_ANON_KEY=
